[submodule "Livox-SDK2"]
	path = Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
[submodule "livox_ros_driver2"]
	path = ws_livox/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
